doctype html
html(lang="en")
head
  title JimmyBecks - Twitch Streamer
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="assets/css/main.css")

body

  include ./_includes/_nav-alt.jade
  include ./_includes/_header.jade
  include ./_includes/_about.jade
  include ./_includes/_social.jade

script(src="assets/js/jquery-2.1.4.min.js")
script(src="assets/js/functions.js", type="text/javascript")
