input#mobile-menu-toggle.mobile-menu-box.hidden(type='checkbox', name='mobile-menu-toggle')

nav
  ul
    li: a(href="#") Home
    li: a(href="#about") About
    li: a(href="#") Social
    li: a(href="#") Contact

label.mobile-menu-label.hidden(for='mobile-menu-toggle')
