@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

section {
  margin: 0; }

a {
  color: #FF573F;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #ff8472; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.wrapper {
  overflow: hidden;
  background: transparent; }

nav {
  background: #170017;
  width: 250px;
  position: fixed;
  top: 0px;
  left: -250px;
  bottom: 0px;
  z-index: 2;
  opacity: 0.8;
  transition: all 0.4s ease-in-out; }
  nav ul {
    margin: 40px 0 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600; }
    nav ul li {
      display: block;
      border-bottom: 1px dotted white; }
      nav ul li a {
        display: block;
        padding: 18px; }
  nav.show {
    left: 0px; }

.menu {
  position: fixed;
  top: 25px;
  left: 18px;
  display: inline-block;
  background: black;
  width: 20px;
  height: 3px;
  z-index: 3;
  cursor: pointer;
  animation: fade-out 0.6s ease-in-out forwards; }
@keyframes fade-out {
  0% {
    transform: translateX(190px); }
  75% {
    transform: translateX(-5px); }
  100% {
    transform: translateX(0px); } }
  .menu:before, .menu:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    position: absolute;
    background: black;
    transition: all 0.5s ease-in-out 0.4s; }
  .menu:before {
    margin-top: -6px; }
  .menu:after {
    margin-top: 6px; }
  .menu.open {
    animation: open 0.8s ease-in-out forwards; }
@keyframes open {
  0% {
    background: black;
    transform: translateX(0px); }
  35% {
    background: white;
    transform: translateX(0px); }
  50% {
    background: white; }
  70% {
    background: white;
    transform: translateX(205px); }
  90% {
    background: white; }
  100% {
    background: transparent;
    transform: translateX(190px); } }
    .menu.open:after {
      margin: 0;
      transform: rotate(-45deg); }
    .menu.open:before {
      margin: 0;
      transform: rotate(45deg); }
    .menu.open:before, .menu.open:after {
      animation: fade 0.8s ease-in-out forwards; }
@keyframes fade {
  0% {
    background: black; }
  35% {
    background: white; }
  100% {
    background: white; } }
html, body {
  height: 100%; }
  html header, body header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/JimmyBecks/assets/img/firewatch-bg.jpg");
    background-size: cover;
    background-color: #222;
    background-opacity: 0.8; }
    html header h1, body header h1 {
      color: #170017;
      margin: 5px 0;
      text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.9); }
      @media (max-width: 440px) {
        html header h1, body header h1 {
          font-size: 50px; } }
    html header h3, body header h3 {
      font-size: 22px;
      color: #170017;
      margin: 5px 0;
      padding: 5px 15px 0 15px;
      background: #fff;
      opacity: 0.8;
      border-radius: 2px; }
      @media (max-width: 440px) {
        html header h3, body header h3 {
          font-size: 16px; } }

p {
  padding: 20px;
  margin: 0; }

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 650px; }

.logo {
  margin: 0 auto;
  max-width: 200px;
  height: 100px;
  border-radius: 50%;
  background-image: url("/assets/img/avatar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ddd; }
  .logo h1 {
    padding: 12px 18px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #222;
    display: inline-block;
    border-radius: 50%;
    position: relative; }
    .logo h1:after {
      content: "";
      background: #222;
      height: 12px;
      width: 12px;
      position: absolute;
      top: 25px;
      right: 3px; }

h2 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px; }

.alt-section {
  background: #ddd; }
